<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    
      <add name="ProEntities" 
           connectionString="Data Source=papercommunity-172019.mssql.binero.se;User ID=172019_xz18047; Password=1098581Km2;Persist Security Info=True" 
           providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           
           
                 <add name="ProEntities" 
           connectionString="Driver={MySQL ODBC 5.1 Driver};Server=papercommunity2-172019.mssql.binero.se;Database=172019-papercommunity2;User=172019_xi61634;Password=1098581Km2;Option=3;" 
           providerName="System.Data.Odbc" 
           xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
           />
  -->
  <connectionStrings>

    <add
 name="ProEntities"
 connectionString="Server=papercommunity2-172019.mysql.binero.se;Database=172019-papercommunity2;Uid=172019_xi61634;Pwd=1098581Km2;
    Data Source=papercommunity2-172019.mysql.binero.se;Initial Catalog=172019-papercommunity2;User ID=172019_xi61634;Password=1098581Km2;Persist Security Info=True"
 providerName="MySql.Data.MySqlClient"
 xdt:Transform="SetAttributes"
 xdt:Locator="Match(name)" />

  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>